.rotating-box {
  width: 1000px;
  height: 1000px;
  background-color: steelblue;
  transition: transform 3s ease; 
}

.rotating-box:hover {
  transform: rotate(720deg); 
}

.box-text {
  pointer-events: none;
  text-align: center; 
}


