h1 {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    
}

#para1 {
    color: slategray;
    background-color: whitesmoke;
    text-align: left;
    font-size: 1em;
}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}


ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}


ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 1px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}